* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
}

#container {
	min-height: 1000px;
	background-image: url(lapras.gif);
	background-size: 50%;
	background-repeat: no-repeat;
	margin: auto;
}