@font-face {
    font-family: 'Gotham Light';
    src: url('assets/Gotham-Light.otf');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('assets/Gotham-Bold.otf');
}

@font-face {
    font-family: 'Porto';
    src: url('assets/Porto 400.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gotham Light';
	background: #F7F7F7;
}

.container {
	width: 100%;
	height: 100%;
}

.overlay {
	height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    /*background-color: rgba(255, 255, 255, 0.9);*/
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: 'Gotham Light';
    font-size: 60px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #00ADB5;
    transform: rotate(90deg);
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px auto;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 43px;
}

.bot-gif {
	position: absolute;
	top: 15%;
	left: 25%;
	width: 5%;
	border-radius: 50px;
}

.bot {	
	font-family: 'Gotham Light';
	font-size: 24px;
	width: 50%;
	border: none;
	border-bottom: solid 1px #E7E7E7;
	transition: all 0.2s;
	background: transparent;
	padding: 10px 0;
}

.bot:focus {
	outline: none;
	border-bottom: solid 1px #00ADB5;
}

#bot-submit {
	display: none;
}

.top-nav {
	background: #FFF;
	color: #1D2229;
	width: 100%;
	height: 12%;
	position: fixed;
	top: 0px;
	left: 0px;
}

.top-nav-content {
	float: right;
	margin: 15px 25px;
}

.up {
	margin: 15px;
	position: relative;
	left: 270px;
}

.up p {
	padding: 12px;
	transition: all 0.2s;
}

.top-nav img {
	width: 7%;
	border-radius: 30px;
	float: right;
	border: solid 1px #F7F7F7;
}

.top-nav-content p {
	color: #1D2229;
	float: right;
	padding: 15px 25px;
	transition: all 0.2s;
}

.top-nav p:hover {
	color: #00ADB5;
}

.side-nav {
	background: #1D2229;
	color: #FFF;
	width: 20%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

.logo img {
	width: 100%;
}

.profile {
	padding: 20px;
	text-align: center;
}

.profile p {
	font-size: 18px;
	padding: 10px;
}

.side-nav ul {
	display: inline-block;
	width: 100%;
}

.side-nav li {
	font-size: 14px;
	width: 100%;
	list-style: none;
}

.side-nav a:hover {
	background: #00ADB5;
}

.side-nav li a {
	text-decoration: none;
	display: inline-block;
	color: #FFF;
	width: 80%;
	padding: 5% 10%;
	transition: all 0.1s;
}

.side-nav li a img {
	width: 25px;
	padding-right: 20px;
	vertical-align: middle;
}

.sign-out {
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	text-align: center;
}

.sign-out a {
	display: inline-block;
	background: #323942;
	width: 90%;
	padding: 5%;
	color: #FFF;
	text-decoration: none;
	margin: auto;
	font-size: 14px;
	transition: all 0.1s;
}

.load {
	opacity: 1;
	transition:opacity 300ms;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #00ADB5;
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 1.0;
	animation-name: loading;
    animation-duration: 4.8s;
}

@-webkit-keyframes loading {
    0% {opacity: 1.0;}
    80% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

.load img {
	margin-top: 150px;
	width: 40%;
}

.acct {
	position: relative;
    top: 6%;
    left: 25%;
    width: 20%;
    color: #1D2229;
    margin-top: 40px;
}

/*.acct img {
	width: 5%;
    vertical-align: middle;
    margin-right: 20px;
    padding: 10px;
}*/

.heading {
	font-family: 'Gotham Bold';
	color: #00ADB5;
}

.heading2 {
	font-family: 'Gotham Bold';
	margin-right: 30px;
}

.el {
	position: relative;
    top: 9%;
    border-bottom: solid 1px #F7F7F7;
    width: 67%;
    left: 25%;
    background: #FFFFFF;
    padding: 15px;
    font-size: 14px;
}

.el:hover {
	background: #F3F2F2;
    color: #02ACB4;
}

.right {
	float: right;
}

table {
	position: relative;
	top: -90%;
	left: 25%;
}
