@font-face {
    font-family: 'Gotham Light';
    src: url('assets/Gotham-Light.otf');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('assets/Gotham-Bold.otf');
}

@font-face {
    font-family: 'Porto';
    src: url('assets/Porto 400.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gotham Light';
	background: #F7F7F7;
}

.overlay {
	height: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-family: 'Gotham Light';
    font-size: 60px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #00ADB5;
    transform: rotate(90deg);
}

.overlay-content {
    position: relative;
    top: 20%;
    width: 100%;
    text-align: center;
    margin-top: 30px auto;
}

.closebtn {
    position: absolute;
    top: 10px;
    right: 43px;
}

#talk-to-me {
	padding: 1% 0;
    margin: 5%;
    border-bottom: solid 1px rgba(29, 34, 41, 0.07);
    width: 70%;
    float: right;
    position: relative;
    top: 10px;
    font-size: 28px;
    background: url(assets/bot-thumb.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 2%;
    transition: all 0.2s;
}

#talk-to-me p {
	transition: all 0.2s;
}

#talk-to-me:hover p {
	color: #00ADB5;
}

#talk-to-me:hover {
	background: url(assets/bot.gif);
	background-repeat: no-repeat;
    background-size: 10%;
    background-position: 2%;
}

#talk-to-me2 {
	padding: 1% 0;
    margin: 5% 5% 0 5%;
    border-top: solid 1px rgba(29, 34, 41, 0.07);
    width: 70%;
    float: right;
    position: relative;
    top: 30px;
    background: url(assets/bot-thumb.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 50%;
    transition: all 0.2s;
}

#talk-to-me2 p {
	transition: all 0.2s;
}

#talk-to-me2:hover p {
	color: #00ADB5;
}

#talk-to-me2:hover {
	background: url(assets/bot.gif);
	background-repeat: no-repeat;
    background-size: 10%;
    background-position: 50%;
}

.bot-gif {
	width: 10%;
	border-radius: 500px;
	vertical-align: middle;
	margin: 0 30px;
	opacity: 0;
}

.bot {	
	font-family: 'Gotham Light';
	font-size: 24px;
	width: 50%;
	border: none;
	border-bottom: solid 1px #E7E7E7;
	transition: all 0.2s;
	background: transparent;
	padding: 10px 0;
}

.bot:focus {
	outline: none;
	border-bottom: solid 1px #00ADB5;
}

#bot-submit {
	display: none;
}

.top-nav {
	background: #FFF;
	color: #1D2229;
	width: 100%;
	height: 12%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.top-nav-content {
	float: right;
	margin: 15px 25px;
}

#upcoming {
	position: relative;
	top: 210px;
	padding-bottom: 20px;
	padding-left: 20px;
	left: 25%;
	width: 70%;
	border-bottom: solid 1px rgba(29, 34, 41, 0.07);
}

.pay p {
	opacity: 0.0;
	transition: all 0.2s;
	text-align: center;
	padding: 30px;
}

.pay {
	width: 150px;
	height: 150px;
	color: #fff;
	background: url(assets/xbox.png);
	background-size: 100%;
	transition: all 0.2s;
	border-radius: 100px;
}

.pay:hover {
	background: url(assets/xbox-over.png);
	background-size: 100%;
}

.pay:hover p {
	opacity: 1.0;
}

.pay1 p {
	opacity: 0.0;
	transition: all 0.2s;
	text-align: center;
	padding: 30px;
}

#paid {
	position: relative;
	top: 230px;
	padding-left: 20px;
	left: 25%;
	width: 70%;
	margin-bottom: 20px;
}

.pay1 {
	width: 150px;
	height: 150px;
	color: #fff;
	background: url(assets/netflix.png);
	background-size: 100%;
	transition: all 0.2s;
	border-radius: 100px;
	float: left;
}

.pay1:hover {
	background: url(assets/netflix-over.png);
	background-size: 100%;
}

.pay1:hover p {
	opacity: 1.0;
}

.pay2 p {
	opacity: 0.0;
	transition: all 0.2s;
	text-align: center;
	padding: 30px;
}

.pay2 {
	width: 150px;
	height: 150px;
	color: #fff;
	background: url(assets/spotify.png);
	background-size: 100%;
	transition: all 0.2s;
	border-radius: 100px;
	float: left;
	margin-left: 50px;
}

.pay2:hover {
	background: url(assets/spotify-over.png);
	background-size: 100%;
}

.pay2:hover p {
	opacity: 1.0;
}

.up {
	margin: 15px;
	position: relative;
	left: 270px;
	width: 30%;
}

.up p {
	padding: 12px;
	transition: all 0.2s;
}

.top-nav img {
	width: 7%;
	border-radius: 30px;
	float: right;
	border: solid 1px #F7F7F7;
}

.top-nav-content p {
	color: #1D2229;
	float: right;
	padding: 15px 25px;
	transition: all 0.2s;
}

.top-nav p:hover {
	color: #00ADB5;
}

.side-nav {
	background: #1D2229;
	color: #FFF;
	width: 20%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 2;
}

.logo img {
	width: 100%;
}

.profile {
	padding: 20px;
	text-align: center;
}

.profile p {
	font-size: 18px;
	padding: 10px;
}

.side-nav ul {
	display: inline-block;
	width: 100%;
}

.side-nav li {
	font-size: 14px;
	width: 100%;
	list-style: none;
}

.side-nav a:hover {
	background: #00ADB5;
}

.side-nav li a {
	text-decoration: none;
	display: inline-block;
	color: #FFF;
	width: 80%;
	padding: 5% 10%;
	transition: all 0.1s;
}

.side-nav li a img {
	width: 25px;
	padding-right: 20px;
	vertical-align: middle;
}

.sign-out {
	position: absolute;
	bottom: 0px;
	width: 100%;
	left: 0px;
	text-align: center;
}

.sign-out a {
	display: inline-block;
	background: #323942;
	width: 90%;
	padding: 5%;
	color: #FFF;
	text-decoration: none;
	margin: auto;
	font-size: 14px;
	transition: all 0.1s;
}

.load {
	opacity: 1;
	transition:opacity 300ms;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #00ADB5;
	z-index: 2;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 1.0;
	animation-name: loading;
    animation-duration: 4.8s;
}

@-webkit-keyframes loading {
    0% {opacity: 1.0;}
    80% {opacity: 1.0;}
    100% {opacity: 0.0;}
}

.load img {
	margin-top: 150px;
	width: 40%;
}

.acct {
	position: relative;
    top: 6%;
    left: 25%;
    width: 20%;
    color: #1D2229;
    margin-top: 40px;
}

.heading {
	font-family: 'Gotham Bold';
	color: #00ADB5;
}

.heading2 {
	font-family: 'Gotham Bold';
	margin-right: 30px;
}

.el {
	position: relative;
    top: 9%;
    border-bottom: solid 1px #F7F7F7;
    width: 67%;
    left: 25%;
    background: #FFFFFF;
    padding: 15px;
    font-size: 14px;
}

.el:hover, td:hover {
	background: #F3F2F2;
    color: #02ACB4;
}

.right {
	float: right;
}

table {
	position: relative;
    top: 6%;
    left: 25%;
	width: 69.5%;
    text-align: center;
    color: #1D2229;
    font-size: 14px;
    margin-bottom: 40px;
}

tr {
	background: #FFF;
}

td {
	padding: 10px;
}

th {
	padding: 10px;
	font-family: 'Gotham Bold';
	font-weight: normal;
}

.bot-msg {
	width: 25%;
    border-radius: 2px;
    position: relative;
    left: 25%;
    margin: 20px 0;
	padding: 10px 20px;
	background: #FFF;
	font-family: 'Gotham Light';
	font-size: 14px;
}

.msg {
	width: 25%;
    border-radius: 2px;
    position: relative;
    right: -65%;
    top: 28%;
	padding: 10px 20px;
	background: #00ADB5;
	color: #FFF;
	font-family: 'Gotham Light';
	font-size: 14px;
}

.naam {
	font-family: 'Gotham Bold';
}

