@font-face {
    font-family: 'Gotham Light';
    src: url('assets/Gotham-Light.otf');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('assets/Gotham-Bold.otf');
}

@font-face {
    font-family: 'Porto';
    src: url('assets/Porto 400.ttf');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Gotham Light';
	background: #F9F9F9;
}